// responsive design
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

$mainBGC: #a7bcff;
// $mainBGC: #F4C76A;
$logoColor: #5d5b8d;
// $logoColor: #F87F2E;
$placeHolderColor: rgb(175, 175, 175);
$btnColor: #7b95ec;
// $deepColor: #2f2d52;
$deepColor: #504065;
// $middleColor: #3e3c61;
$middleColor: #63507E;
// $lightColor: #C09FBE;
$lightColor: #6e598b;
$chatAreaColor: #ddddf7;
$myMessageColor: #8da4f1;
$logoFontSize: 25px;

// style for registger and login page
.formContainer {
  background-color: $mainBGC;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 50%;
    // width: 35%;
    padding: 20px 60px;
    border-radius: 10px;
    gap: 10px;

    .logo {
      color: $logoColor;
      font-size: $logoFontSize;
      font-weight: bold;
    }

    .title {
      color: grey;
      font-size: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid $logoColor;
        width: 250px;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: grey;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    button {
      background-color: $btnColor;
      color: white;
      padding: 15px;
      border: none;
      cursor: pointer;
    }

    span {
      margin-top: 10px;
    }
  }
}

//style for Home page
.Home {
  background-color: $mainBGC;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    height: 80%;
    width: 65%;
    display: flex;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: $middleColor;
      overflow-y: auto;

      .navbar {
        background-color: $deepColor;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: white;

        .logo {
          font-weight: bold;
          // color: $logoColor;
          font-size: 18px;
          @include tablet {
            display: none;
          }
        }

        .userInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          img {
            background-color: #3e3c61;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 16px;
          }

          button {
            background-color: $lightColor;
            color: $placeHolderColor;
            margin-top: 2px;
            padding: 4px;
            font-style: 10px;
            border: none;
            cursor: pointer;
          }
        }
      }

      .search {
        border-bottom: 1px solid lightgrey;

        form {
          padding: 10px;
          input {
            background-color: transparent;
            border: none;
            width: 96%;
            color: white;
            outline: none;

            &::placeholder {
              color: $placeHolderColor;
            }
          }
        }
      }

      .userChat {
        position: relative;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        cursor: pointer;
        &.selectedUser,
        &:hover {
          background-color: $deepColor;
        }
        //Notice this img also belongs to below chatImage in Chats, but in searchBar we doesn't have this class
        img {
          background-color: #3e3c61;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin: 0;
        }

        .MissedMessage {
          display: flex;
          align-items: center;
          
          .redicon {
            position: absolute;
            top: 5px;
            left: 5px;
            background: red;
            padding: 8px;
            box-sizing: border-box;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .rediconText {
              position: absolute;
              font-size: 11px;
            }
          }
        }


        .userChatInfo {
          display: flex;
          flex-direction: column;
          gap: 5px;
          max-width: 80%;
          span {
            font-size: 18px;
          }
          p {
            color: $placeHolderColor;
            font-size: 14px;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; //LYS: could be done without this
          }
        }

        .messageTime {
          position: absolute;
          top: 10px;
          right: 10px;
          color: $placeHolderColor;
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .chat {
      flex: 2;

      .chatGuide {
        // background-color: lightgray;
        background-color: #CEB2CB;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;

        .chatHeader {
          width: 97%;
          position: absolute;
          top: 0;
          overflow: hidden;

          .icons {
            display: flex;
            gap: 4px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: aqua;

            span {
              font-size: 18px;
              color: aqua;
            }

            i {
              font-size: 20px;
            }
          }
        }

        .welcomeText {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          text-align: center;
          gap: 5px;

          span {
            color: $lightColor;
            font-size: 22px;
            font-weight: bold;
          }
        }
      }

      .chatHeader {
        height: 50px;
        padding: 10px;
        background-color: $middleColor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: $placeHolderColor;
          font-size: 18px;
        }

        .icons {
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: aqua;

          span {
            font-size: 18px;
            color: aqua;
          }

          i {
            font-size: 20px;
          }
        }

      }

      .messages {
        padding: 10px;
        overflow-y: auto;
        height: calc(100% - 160px);
        background-color: $chatAreaColor;

        .message {
          display: flex;
          flex-direction: column;
          justify-content: center;
          // gap: 20px;

          .messageStatus {
            text-align: center;

            p {
              color: $placeHolderColor;
              font-size: 12.5px;
              display: inline-block;
            }
          }

          .belowMessageStatus {
            display: flex;
            gap: 10px;
            .messageInfo {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
              img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 10px;
              }
              span {
                color: $placeHolderColor;
              }
            }

            .messageContent {
              max-width: 80%; //LYS: remember this!
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 10px;

              p {
                gap: 10px;
                justify-content: space-around;
                background-color: white;
                padding: 10px, 20px; //LYS don't know why this won't work
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0, 10px, 10px, 10px; //LYS don't know why this won't work
                border-top-left-radius: 0;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                max-width: max-content;
                //   overflow-wrap: break-word;
                word-break: break-all;
                white-space: normal;
              }

              img {
                width: 50%;
              }
            }
          }
          &.owner {
            .belowMessageStatus {

              flex-direction: row-reverse;
              .messageContent {
                align-items: flex-end;
                p {
                  background-color: $myMessageColor;
                  color: white;
                  border-radius: 10px, 0, 10px, 10px; //LYS don't know why this won't work
                  border-top-left-radius: 10px;
                  border-top-right-radius: 0;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                }
              }
            }
          }

        }
      }

      .chatInput {
        height: 50px;
        padding: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        form {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            &::placeholder {
              color: $placeHolderColor;
              font-size: 14px;
            }
          }

          .send {
            display: flex;
            gap: 10px;

            .chatInputIcons {
              .addImage {
                position: relative;

                .redicon {
                  position: absolute;
                  top: -10px;
                  right: -4px;
                  background: red;
                  padding: 5px;
                  box-sizing: border-box;
                  border-radius: 100%;
                }
              }
            }

            button {
              background-color: $myMessageColor;
              color: white;
              cursor: pointer;
              border: none;
            }
          }
        }
      }
    }
  }
}

.Moments {
  background-color: #C09FBE;
  // background-color: $lightColor;
  // background-image: url("https://s1.wallpapermaiden.com/image/2022/12/11/illustration-anime-city-stars-illustration-anime-52993.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .Momentcontainer {
    // background-color: #ddddf7;
    background-color: white;
    // background-color: transparent;
    // border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 94%;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    .Momentheader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 10px;
      color:#ddddf7;
      background-color: #2f2d52;

      p {
        font-size: 30px;
        font-weight: bold;
      }

      i {
        font-size: 26px;
        cursor: pointer;
        padding: 10px;
      }
    }

    .MomentInfo {
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .momentCollection {
        display: flex;
        gap: 20px;
        margin-bottom: 14px;
        padding: 16px;
        padding-left: 20px;
        border-bottom: 1px solid lightgray;
      }

      .momentUser {
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .momentContent {
        margin-top: -16px;
        display: flex;
        flex-direction: column;
        max-width: 70%;

        .username {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .momentText {
          font-size: 18px;
          margin-bottom: 6px;
          word-wrap: break-word;
        }

        img {
          border-radius: 10px;
          width: 80%;
          cursor: pointer;
        }

        .momentTime {
          color: gray;
          font-weight: 300;
          font-size: 16px;
          margin-top: 6px;
        }
      }
    }
  }

  // .largeimg {
  //   position: absolute;
  //   top: 120px;
  //   left: 230px;
  //   max-width: 70%;
  //   max-height: 80%;
  //   img {
  //     width: 100%;
  //   }
  //   i {
  //     position: absolute;
  //     top: 14px;
  //     right: 14px;
  //     font-size: 24px;
  //     color: lightgray;
  //   }
  // }
}

.Momentcontainer.post {
  height: 50%;
  border: 1px solid lightgray;

  .postpicture {
    display: none;
  }

  .momentAddIcons {

    label {
      padding: 10px;
      position: relative;
      cursor: pointer;
      .redicon {
        position: absolute;
        top: -35px;
        right: 15px;
        background: red;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .rediconText {
          position: absolute;
          font-size: 11px;
        }
      }
    }

  }


  .inputtext {
    border: none;
    outline: none;
    padding: 15px;
    padding-bottom: 100%;
    border-top: 1px solid #a7bcff;
    background-color: rgb(207, 176, 204);
    font-size: 16px;
    &::placeholder {
      // color: rgb(175, 175, 175);
      color: white;
    }
    color: white;
  }
}
